/* 公共css样式，所有的组件都共用，需要导入到入口js文件，单页应用模块化开发 */

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

img {
    /* 清除图片在盒子下方的空隙,并让图片和文字顶线对齐 */
    vertical-align: middle;
}

/* 阿里图标库的图标加边距 */

.iconfont {
    margin-right: 10px!important;
}

/* 固定级联选择器的高度，避免随着数据变化，它的高度和位置随着变化 */

.el-cascader-menu {
    height: 220px;
}

/* 调整级联选择器的下拉选择框的位置 */

.el-cascader__dropdown {
    top: 290px!important;
}

/* 将级联选择器的单选框隐藏掉，并点击文字即可选中 */

.el-cascader-panel .el-radio {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0;
}

.el-cascader-panel .el-radio__input {
    visibility: hidden;
}